<div class="d-flex align-items-center">
    <span class="me-3 text-pagination">Página {{ paginaAtual }} de {{ totalPaginas }}</span>
    <nav aria-label="Navegação de páginas">
        <ul class="pagination pagination-sm mb-0">
            <li class="page-item" [class.disabled]="isPaginaAnteriorDisabled()">
                <a class="page-link" (click)="paginaAnterior.emit()" style="cursor: pointer;">Anterior</a>
            </li>
            <li class="page-item active">
                <span class="page-link">{{ paginaAtual }}</span>
            </li>
            <li class="page-item" [class.disabled]="isProximaPaginaDisabled()">
                <a class="page-link" (click)="proximaPagina.emit()" style="cursor: pointer;">Seguinte</a>
            </li>
        </ul>
    </nav>
    <div>
        <select
            id="itensPorPagina"
            class="form-select form-select-sm"
            [ngModel]="itensPorPagina"
            (change)="onItensPorPaginaChange($event)"
        >
            <option *ngFor="let opcao of opcoesItensPorPagina" [value]="opcao">{{ opcao }}</option>
        </select>
    </div>
</div>