<body class="d-flex flex-column min-vh-100">

    <app-header></app-header>

    <main class="flex-fill">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h1 class="fw-bold text-dark">As minhas tarefas</h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <app-adicionar-tarefa-form
                                    (adicionarTarefa)="adicionarTarefa($event)"></app-adicionar-tarefa-form>
                                <div class="align-self-end">
                                    <app-paginacao [paginaAtual]="paginaAtual()" [totalPaginas]="totalPaginas()"
                                        [itensPorPagina]="itensPorPagina()"
                                        [opcoesItensPorPagina]="opcoesItensPorPagina"
                                        (paginaAnterior)="paginaAnterior()" (proximaPagina)="proximaPagina()"
                                        (itensPorPaginaChange)="onItensPorPaginaChange($event)">
                                    </app-paginacao>
                                </div>
                            </div>

                            <app-tarefas-tabela [tarefas]="tarefasPaginadas()" (concluir)="concluirTarefa($event)"
                                (excluir)="excluirTarefa($event)">
                            </app-tarefas-tabela>

                            <div class="table-footer-container d-flex justify-content-between align-items-center">
                                <span class="total-tarefas">Total de tarefas: {{ totalTarefas() }}</span>
                                <app-paginacao [paginaAtual]="paginaAtual()" [totalPaginas]="totalPaginas()"
                                    [itensPorPagina]="itensPorPagina()" [opcoesItensPorPagina]="opcoesItensPorPagina"
                                    (paginaAnterior)="paginaAnterior()" (proximaPagina)="proximaPagina()"
                                    (itensPorPaginaChange)="onItensPorPaginaChange($event)">
                                </app-paginacao>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>

    <toast #toast></toast>

</body>