@use 'sass:map';
@use 'sass:meta';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

$palette: (
  'primary': (
    default: #0b7b95,
    dark: #004555,
    light: #ebe5fc,
  ),

  'secondary': (
    default: #6c757d,
    dark: #54595e,
    light: #abb8be,
  ),

  'success': #28a745,
  'danger': #dc3545,
  'warning': #ffc107,
  'info': #17a2b8,

  'white': #ffffff,
  'black': #000000,

  'gray': (
    100: #f8f9fa,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #adb5bd,
    600: #6c757d,
    700: #495057,
    800: #343a40,
    900: #212529,
  ),

  'yellow': (
    100: #fff3cd,
    200: #ffe69c,
    300: #ffda6a,
    400: #ffd039,
    500: #ffc107,
    600: #cca906,
    700: #997404,
    800: #664d03,
    900: #332701,
  ),

  'green': (
    100: #d1e7dd,
    200: #a3cfbb,
    300: #75b798,
    400: #479f76,
    500: #198754,
    600: #146c43,
    700: #0f5132,
    800: #0a3622,
    900: #051b11,
  ),

  'teal': (
    100: #d2f4ea,
    200: #a6e9d5,
    300: #79dfc1,
    400: #4dd4ac,
    500: #20c997,
    600: #1aa179,
    700: #13795b,
    800: #0d503c,
    900: #06281e,
  ),

  'cyan': (
    100: #cff4fc,
    200: #9eeaf9,
    300: #6edff6,
    400: #3dd5f3,
    500: #0dcaf0,
    600: #0aa2c0,
    700: #087990,
    800: #055160,
    900: #032830,
  ),

  'purple': (
    100: #e2d9f3,
    200: #c5b3e6,
    300: #a98eda,
    400: #8c6ccd,
    500: #6f42c1,
    600: #59359a,
    700: #432874,
    800: #2c1a4d,
    900: #160d27,
  ),

  'pink': (
    100: #f7d6e6,
    200: #efadce,
    300: #e685b5,
    400: #de5c9d,
    500: #d63384,
    600: #ab296a,
    700: #801f4f,
    800: #561435,
    900: #2b0a1a,
  ),

  'red': (
    100: #f8d7da,
    200: #f1aeb5,
    300: #ea868f,
    400: #e35d6a,
    500: #dc3545,
    600: #b02a37,
    700: #842029,
    800: #58151c,
    900: #2c0b0e,
  ),

  'orange': (
    100: #ffe5d0,
    200: #fecba1,
    300: #feb272,
    400: #fda943,
    500: #fd7e14,
    600: #ca6510,
    700: #984c0c,
    800: #653208,
    900: #331904,
  ),
);

@function palette($name, $weight: null) {
  $value: map.get($palette, $name);

  @if meta.type-of($value) == 'map' {
    @if $weight == null {
      @return map.get($value, default);
    } @else {
      @return map.get($value, $weight);
    }
  }
  @return $value;
}
